@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 5px greenyellow, 0 0 15px greenyellow, 0 0 30px greenyellow, 0 0 greenyellow;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: macondo, sans-serif;
  background-image: url("/img2.jpg");
  background-size: cover;
}
.container {
  box-shadow: 0 0 1rem #003;
  display: flex;
  width: 300px;
  height: 520px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.40) ;
  
}
  


.counter {
  font-size: 5rem;
  margin-top: 20px;
  text-shadow: 0 0 5px greenyellow, 0 0 15px greenyellow, 0 0 30px greenyellow
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button:hover{
  /* color: white; */
  background-color: #e8e8eb;
}

button {
  margin: 10px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 25px; 
  background: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 1rem #003;
  
}

span {
  font-size: 15px;
  text-shadow: 0 0 5px greenyellow, 0 0 15px greenyellow, 0 0 30px greenyellow, 0 0 greenyellow;
}
.reset{
  width: 75px;
}